.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}

.input-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DACAE8;
    min-height: 100vh;
    gap: 10px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 25px 25px 25px;
    max-width: 100%;

    @media (min-width: 800px) {
        width: 70%;
    }
}

.logo {
    margin-bottom: 8%;
    filter: drop-shadow(0px 4px 4px #C4C4C4);
    max-width: 25%;
    max-height: 25%;
}

.login-page-title {
    font-size: 2.2em;
    margin-bottom: 58px;
    text-shadow: 3px 3px 3px #9C9C9C;
}

.right-side-container {
    justify-self: center;
    align-self: center;

    @media (max-width: 1000px) {
        display: none;
    }
}